html,
body,
#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}


.app-grid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.toolbar {
    height: 20px;
    background: #444;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 12px;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
}

.divider {
    height: 5px;
    background: #666;
    cursor: row-resize;
    user-select: none;
    transition: background 0.2s;
}

.divider:hover {
    background: #888;
}