.model-preview {
	grid-area: preview;
	background: #ff0000;
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.model-preview-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    display: block;
    background: transparent;
    min-height: 0;
}
