.networkview {
	grid-area: networkview;
	background: var(--color-primary);
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.track {
}

.notes {
  position: relative;
  height: 100%; /* or however tall your track is */
}

.note {
	background-color: blueviolet;
	height: 10px;
	position: absolute;
}

.mesh-node {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 6;
    background: #222;
    color: white;
    min-width: 120;
}

.modifier-node {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 6;
    background: #999;
    color: white;
    min-width: 160;
}

.context-menu {
    position: absolute;
    background: black;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}