.sidebar {
	grid-area: sidebar;
	background: var(--color-primary);
	padding: 1%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.sidebar * :focus {
	outline: none;
}

.upload-btn {
	margin-bottom: 12px;
	padding: 8px 12px;
	border: none;
	background-color: #0078d7;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.file-info {
	font-size: 0.9rem;
	margin-bottom: 16px;
}

.attribute-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.attribute-settings {
	margin-top: 2px;
	background: #4d4a4a;
	border-radius: 2px;
	padding: 2px;
}

.setting-row {
	display: flex;
	justify-content: space-between;
	margin: 4px 0;
}

.add-modifier-button {
	cursor: pointer;
	text-align: center;
}

.add-modifier-button:hover {
	text-decoration: underline;
}

.toggle-expanded-modifier-button {
	cursor: pointer;
	background: none;
	border: none;
	color: var(--color-text);
	font-size: 1rem;
}

.sortable-item-handle {
	width: 24;
	height: 24;
	display: "flex";
	align-items: "center";
	justify-content: "center";
	background: "#665e5eff";
	border-radius: 4;
	cursor: "grab";
}

.modifier-parameters {
	margin-top: 6px;
	padding: 6px;
	background: var(--color-secondary);
	border-radius: 4px;
}

.sidebar-track {
	padding: 0;
	width: 100%;
	margin-bottom: 6px;
	background: var(--color-secondary);
	border-radius: 8px;
	user-select: none;
}

.modifier-parameters-container {
	margin-top: 6px;
	padding: 6px;
	background: var(--color-tertiary);
	border-radius: 4px;
}

.track-container {
	width: "100%";
	margin-bottom: 12;
	border: 1px solid var(--color-secondary);
	border-radius: 8px;
}

.track-header {
	width: 100%;
	padding: 8px;
	background: var(--color-secondary);
	border: none;
	color: var(--color-text);
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.parameter-source-dropdown {
	background: var(--color-secondary);
	border: none;
	color: var(--color-text);
	border-radius: 4px;
	padding: 4px;
}

.parameter-source-dropdown option {
	background: var(--color-primary);
	color: var(--color-text);
}

.parameter-factor-input {
	background: var(--color-primary);
	border: 1px solid var(--color-secondary);
	color: var(--color-text);
	border-radius: 4px;
	padding: 4px;
}