.sidebar {
	grid-area: sidebar;
	background: #727272;
	border-right: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar * :focus {
	outline: none;
}

.upload-btn {
	margin-bottom: 12px;
	padding: 8px 12px;
	border: none;
	background-color: #0078d7;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.file-info {
	font-size: 0.9rem;
	margin-bottom: 16px;
}

.attribute-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.attribute-settings {
	margin-top: 6px;
	background: #4d4a4a;
	border-radius: 6px;
	padding: 6px;
}

.setting-row {
	display: flex;
	justify-content: space-between;
	margin: 4px 0;
}