.timeline {
	grid-area: timeline;
	background: #353535;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.track {
}

.notes {
  position: relative;
  height: 100%; /* or however tall your track is */
}

.note {
	background-color: blueviolet;
	height: 10px;
	position: absolute;
}