.toolbar {
	grid-area: toolbar;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 10px;
	background-color: var(--color-toolbar);
	color: var(--color-text);
	font-size: 13px;
	position: relative;
	user-select: none;
}

.menu-item {
	position: relative;
	cursor: pointer;
	padding: 0px 8px;
}

.menu-item:hover {
	background-color: var(--color-toolbar-hover);
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--color-primary);
	border: 1px solid #444;
	min-width: 120px;
	filter: drop-shadow(0px 0px 5px #000000aa);
	z-index: 100;
	border-radius: 4px;
}

.dropdown-item {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 4px;
}

.dropdown-item:hover {
	background-color: #4a4a4a;
	text-decoration: underline;
}

.project-name {
	flex-grow: 1;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.363);
}